    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container is-medium">
            <div class="navbar-brand">
                <a class="navbar-item is-size-4 is-bold" href="{{ base_url == '' ? '/' : base_url }}">
                    <img src="{{ url('theme://images/logo_new.png') }}" class="logo" />
                    <span class="logo-text">Heilungsweg</span>
                </a>

                <a role="button" class="navbar-burger burger" onClick="toggleNav()" aria-label="menu" aria-expanded="false"
                    data-target="navBar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navBar" class="navbar-menu">
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </div>
</nav>

