@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Update the sans-serif font family
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

$family-sans-serif:  "IBM Plex Sans", "Nunito", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color

$primary: #05234c;
$primary-light: hsl(186, 100%, 42%);

$secondary: #d51b3f;
$secondary-light: #f6fbf6;

$hero-color: #fff;
$light-grey: #e4e4e4;

$box-radius: 0;
$background: #fffffe;
$scheme-main: $background;
$text: #2e2e2e;
$footer-text: #6b6b6b;

$body-background-color: $background;
$box-background-color: $background;

$link: $secondary;
$link-hover: $primary;

$navbar-height: 6rem;

$navbar-background-color: $primary;
$navbar-tab-hover-border-bottom-color: $secondary;
$navbar-item-color: $white;
$navbar-item-hover-color: $secondary;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: transparent;


$navbar-dropdown-background-color: $primary;
$navbar-dropdown-border-top: none;
// $navbar-dropdown-offset: -4px !default
// $navbar-dropdown-arrow: $link !default
$navbar-dropdown-radius: $radius-small;
// $navbar-dropdown-z: 20 !default

//$navbar-dropdown-boxed-radius: $radius-large !default
//$navbar-dropdown-boxed-shadow: 0 8px 8px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default

$navbar-dropdown-item-hover-color: $secondary;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-item-active-color: $secondary;
$navbar-dropdown-item-active-background-color: $primary;
// $body-font-size: 1.15em;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";


.hero.is-primary  {
    color: $hero-color !important;
    padding-top: 2rem;
    background: $primary !important;

    .title, .subtitle {
        color: $hero-color !important;

    }
}

.home .navbar {
    min-height: 8rem;

    .navbar-item {
        img {
            max-height: 9rem;
            padding-bottom:20px;
            padding-top:10px;
 
        }
    }
}


.navbar-item {
    font-size: 1.2em;
    font-weight: bold;

    &.is-active {
        border-bottom: 5px solid $secondary;
    }

    .navbar-dropdown{
        .is-active {
            border-bottom: none;
        }
    }

    img {
        max-height: 5rem;
    }
}

.logo {
    margin-right: 10px;
}

.icon-background{
    opacity: 0.05;
    padding: 20px;
}

.home .hero {
    background: $primary;
}

.sidebar {
    h2 {
        color: $secondary;
        //border-bottom: solid $secondary 5px;
        padding-bottom: 5px;
    }

    .sidebar-content {
        margin-bottom:50px;
        border-top: 5px $secondary solid;
        padding-top: 20px;
        // background: #fafafa;
    }
}

.hero-body {
    @include touch {
        padding-top: none !important;
    }
}

.title-section {
    padding-bottom: 0px;
}

.main-title{
    font-size: 2rem;
    font-weight: bold;

    .subtext {
        display: block;
        font-weight: 100;
        font-size: 1.5rem;
    }
}

.main-content{
    .introduction{
        padding-bottom:50px;
        border-bottom: solid lightgray 1px;
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 30px;
    }
}

hr {
    background: #f3f3f3;
}

// .content h1 {
    // margin-bottom: 1.25em;
// }

.nav-spacer {
    height: 15px;
    backdrop-filter: blur(0.8);
}

h3.post-title {
    margin-bottom: 5px;
}

.post-date {
    display: block;
    margin-bottom: 10px;
}

.event {
    font-size: 1.1rem;

    span {
        display: block;
    }
    
    .event-date{
        font-weight: bold;;
    }

    .event-location {
        font-size: 1rem;
    }

}
.footer {
    color: $footer-text;
    h2 {
        color: $footer-text;
        font-size: 1.1rem;
    }
}

.social-icon {
    display: block;
    float: left;

    img {
        max-height: 50px;
    }

    &:hover{
        opacity: 0.5;
    }
}

iframe {
    min-height: 415px;
}