{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="nav-spacer"></div>

	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-12 content">

					{% block pagetitle %}
						<h1>
							{{ page.title }}
						</h1>
					{% endblock %}


					{% block innercontent %}
						{{ page.content }}
					{% endblock %}

				</div>
			</div>
		</div>
	</section>

{% endblock %}
