{% extends 'default.html.twig' %}

{% block innercontent %}

	{{ page.content }}
	<hr>

	<h2>Upcoming</h1>
	<hr>
	{% for event in page.collection('upcoming') %}
		{% include 'partials/event.html.twig' %}
	{% endfor %}

	<h2>Past</h1>
	<hr>
	{% for event in page.collection('past') %}
		{% include 'partials/event.html.twig' %}
	{% endfor %}

{% endblock %}
